<LinkTo @route = "lists" class="button">Go back to contact lists.</LinkTo>
<h1>Contact Person name : {{this.model.name}}</h1>
<p>Address : {{this.model.address}}</p>
<p>Date of Birth : {{this.model.dob}}</p>
<p>Mobile number : {{this.model.mobNumber}}</p>
<button {{action "remove" this.model.id}} class="button">Delete the contact.</button>
<LinkTo @route = "edit" @model = {{this.model.id}} class="button">Edit the contact.</LinkTo>
{{outlet}}